    
    {% extends 'blog/base.html' %}
    {% load static %}
    {% block content %}
    <!-- Page Content -->
    <div class="container" style="margin-top:50px;">

        <div class="row">

            <!-- Blog Entries Column -->
            <div class="col-md-8">

                <h1 class="page-header">
                    Son Yazılar
                </h1>
                
    				<ul>
					{% for post in latest_post_list %}
		                <!-- First Blog Post -->
		                <h2>
		                    <a href="#">{{ post.title }}</a>
		                </h2>
		                <p class="lead">
		                    by <a href="index.html">{{post.author.username}}</a>
		                </p>
		                <p><span class="glyphicon glyphicon-time"></span>{{ post.postedon }}</p>
		                <hr>
		                <img class="img-responsive" src="{% static 'images/language.png' %}" alt="">
		                <hr>
		                <p>{{ post.content }}</p>
		                <a class="btn btn-primary" href="{% url 'blog:postContent' post_id=post.id %}">Tamamını okuyun <span class="glyphicon glyphicon-chevron-right"></span></a>
		
		                <hr>
					{% endfor %}
					</ul>

                
                <!-- Pager -->
                <ul class="pager">
                    <li class="previous">
                        <a href="#">&larr; Daha eski yazılar</a>
                    </li>
                    <li class="next">
                        <a href="#">Daha yeni yazılar &rarr;</a>
                    </li>
                </ul>

            </div>
{% endblock %}
 