{% load static %}
<link href="{% static 'bootstrap-3.3.7-dist/css/bootstrap.css' %}" rel="stylesheet">
<link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>YCZ BLOG</title>

    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.css" rel="stylesheet">

    <!-- Add custom CSS here -->
    <link href="css/blog-post.css" rel="stylesheet">
     <link href="css/youtube.css" rel="stylesheet">
	 <link href="css/books.css" rel="stylesheet">
	
<link href="font-awesome/css/font-awesome.min.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="">YCZ Blog</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="{% url 'blog:main' %}"><i class="fa fa-home"></i> Ana Sayfa</a>
                    </li>
                    <li><a href=""><i class="fa fa-book"></i> Blog Yazıları</a>
                    </li>
                    <li><a href=""><i class="fa fa-envelope"></i> İletişim</a>
                    </li>
					<li><a href=""><i class="fa fa-user"></i> Hakkında</a>
                    </li>
                    {% if request.session.user %}
                    	<li><a href="{% url 'blog:signIn' %}"><i class="fa fa-user"></i>{{ request.session.user.username }}</a>
                    	<li><a href="{% url 'blog:signOut' %}"><i class="fa fa-user"></i> Çıkış yap</a>
                    {% else %}
                    	<li><a href="{% url 'blog:signIn' %}"><i class="fa fa-user"></i> Giriş yap</a>                    	
                    {% endif %}
                    </li>
					
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
     
    </nav>

    <div class="container" style="margin-top:50px;">

        <div class="row">
            <div class="col-lg-8">

                <!-- the actual blog post: title/author/date/content -->
             					
                <hr>
                <img src="{% static 'images/language.png' %}" class="img-responsive">
                <hr>
             
                <!-- the comment box -->
                <div class="well">
                    <h4><i class="fa fa-paper-plane-o"></i> Blog yazınızı paylaşın:</h4>
                    <form role="form" action="{% url 'blog:savePost' %}" method="post">
                    	{% csrf_token %}
                        <div class="form-group">
                            <textarea class="form-control" rows="10" name="blogpost"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-reply"></i> Gönder </button>
                    </form>
                </div>

               

            </div>

            <div class="col-lg-4" style="margin-top:50px;">
                <div class="well">
                    <h4><i class="fa fa-search"></i> Blog Search...</h4>
                    <div class="input-group">
                        <input type="text" class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="button">
                                <i class="fa fa-search"></i>
                            </button>
                        </span>
                    </div>
                    <!-- /input-group -->
                </div>
                <!-- /well -->
                						
				
            </div>
        </div>


        <hr>

    <footer>
           
		<p>Copyright © yczteam 2017 | <a href="">Privacy Policy</a> | <a href="">Terms of Use</a></p>
								
	</footer>

    </div>
    <!-- /.container -->

   <!-- jQuery -->
    <script src="{% static 'blog/jquery.js' %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static 'bootstrap-3.3.7-dist/js/bootstrap.min.js' %}"></script>

</body>

</html>