{% extends 'blog/base.html' %}
    {% load static %}
    {% block content %}
    <div class="container" style="margin-top:50px;">

        <div class="row">
            <div class="col-lg-8">

                <!-- the actual blog post: title/author/date/content -->
             					
                <hr>
                <img src="{% static 'images/language.png' %}" class="img-responsive">
                <hr>
             
                <!-- the comment box -->
                <div class="well">
                    <h4><i class="fa fa-paper-plane-o"></i> Blog yazınızı paylaşın:</h4>
                    <form role="form" action="{% url 'blog:savePost' %}" method="post">
                    	{% csrf_token %}
                        <div class="form-group">
                            <textarea class="form-control" rows="10" name="blogpost"></textarea>
                        </div>
                        <button type="submit" class="btn btn-primary"><i class="fa fa-reply"></i> Gönder </button>
                    </form>
                </div>

               

            </div>

    {% endblock %}